﻿@model List<CasaCambio.Web.ModelView.ResultEmailsView>

@{
    Layout = null;
}

<table id="tbDetallesClientes" class=" datatable table table-bordered" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Email
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>


                    <td>
                        <a class="btn btn-default" data-toggle="tooltip" data-original-title="Editar" onclick="Editar(@item.idEmail)">
                            <i class="fa fa-edit"></i>
                        </a>

                        <a id="@item.idEmail" onclick="Eliminar(@item.idEmail)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        }


    </tbody>
</table>
