﻿@model List<CasaCambio.Web.ModelView.ResultEmailsView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<label style="font-size: 10px">Administracion -> registro de categorias</label>*@
<H3>Emails</H3>

<input type="hidden" id="Id" name="Id" value="0">

<div class="col-sm-12 mb-6 mb-sm-3" align="right">
    <a class="btn btn-warning" onclick="Nuevo()">
        <i class="fas fa-plus">Nuevo</i>
    </a>
</div>


<div class="card shadow mb-4">

    <div class="card-body">
        <div id="zonatable" class="table-responsive">

            @await Html.PartialAsync("_TablaDetallesEmails", Model)

        </div>
    </div>
</div>

<div class="col-sm-10 mb-6 mb-sm-3" align="left">
    <a asp-action="ExportExcel" asp-controller="Emails" class="btn btn-success">
        <i class="fas fa-excel">Exportar Excel</i>
    </a>&nbsp;

</div>

<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Registro</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="bodyForm"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a id="btnConfirmar" href="#" class="btn btn-danger">Confirmar</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AsqModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Esta seguro de eliminar este registro ?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a id="btnConfirmarDelete" class="btn btn-danger">Confirmar</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/emails.js"></script>





