﻿@{
    
}

   <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                @* <li class="nav-label">Dashboard</li> *@

                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="fa fa-product-hunt"></i><span class="nav-text">OPCIONES</span>
                    </a>
                    <ul aria-expanded="false">

                      <li><a asp-action="Index" asp-controller="Clientes">
                                <i class="fa fa-barcode pull-left"></i>
                                <p>Clientes</p>
                            </a></li>
                
                            <li><a asp-action="Index" asp-controller="Emails">
                                <i class="fa fa-list pull-left"></i>
                                <p>Emails</p>
                            </a></li>
                    </ul>
                </li>
            
            </ul>
        </div>
    </div>

